<!DOCTYPE html>
<html>
<head>
    <title>404 Page Error</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">

</head>
<body>
    <div class="main-content">
          {{>header}} {{!--filename of header --}}
          <p>{{errorMessage}}</p>
    </div>

    {{>footer}}

</body>
</html>