<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">

</head>
<body>
{{!-- <h1>{{title}}</h1> --}}
<div class="main-content">
    {{>header}}
    <p>This site is created by Meghana. It used data from mapbox.com and darksky.net </p>
    <img class="portrait" src="/images/pic1.jpg">
    {{!-- <p>Created by {{name}}</p> --}} 
</div>

{{>footer}}

</body>
</html>