<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">

</head>
<body>
{{!-- <h1>{{title}}</h1> --}}
<div class="main-content">
    {{>header}}
    <p>In Weather app user can provide the location details and based on that the weather report is displayed</p><br></br>
    <p>This application uses data from mapbox.com and weatherstack.com </p>
    <img class="portrait" src="/images/pic1.jpg">
    {{!-- <p>Created by {{name}}</p> --}} 
</div>

{{>footer}}

</body>
</html>